extends layout

block content
  .row
    .col-xs-6
      form(action='/admin/items', method='POST')
        legend Add Item
        .form-group
          label Type
          input.form-control(type='text', name='type', placeholder='Sell / Create')
        .form-group
          label Name
          input.form-control(type='text', name='name')
        button.btn.btn-success(type='submit')
          i.fa.fa-tag
          |  Add New Item
    .col-xs-6
      form(action='/admin/locations', method='POST')
        legend Add Location
        .form-group
          label Store Location
          input.form-control(type='text', name='name')
        button.btn.btn-primary(type='submit')
          i.fa.fa-map-marker
          |  Add New Location

  h3 Locations
  if !locations.length
    .alert.alert-warning
      p No locations have been added yet
  else
    table.table.table-striped.table-bordered
      thead
        tr
          th Name
          th Action
      tbody
        for location in locations
          tr
            td
              a(href='#', class='location', data-name='location', data-type='text', data-pk='#{location.id}', data-url='/admin', data-title='Update Location') #{location.name}
              | &nbsp;
            td.col-xs-2
              a.btn.btn-block.btn-xs.btn-danger(href='#') Delete

    script.


  h3 Items
  table.table.table-striped.table-bordered
    thead
        tr
          th #
          th Name
          th Type
          th Action
    tbody
      each item, i in items
        tr
          td.span1= i+1
          td= item.name
          td.span1 #{item.itemType}
          td.span1
            button.btn.btn-mini.btn-danger(data-id='#{item.id}') Delete