extends layout

block content
  h2 View / Add Items

  form.well(action='/items', method='POST')
    label Type
    input.span3(type='text', name='type', placeholder='Sell / Create')
    label Name
    input.span3(type='text', name='name', placeholder='Sugar')
    p
      button.btn.btn-large.btn-info
        i.icon-plus.icon-white
        |  Add New Item

  table.table.table-striped.table-bordered
    thead
        tr
          th #
          th Name
          th Type
          th Action
      tbody
        each item, i in items
          tr
            td.span1= i+1
            td= item.name
            td.span1 #{item.itemType}
            td.span1
              button.btn.btn-mini.btn-danger(id='#{item.id}') Delete
              script.
                var $deleteButton = $('##{item.id}');
                $deleteButton.click(function() {
                  $.ajax({
                    url: '/items/#{item.id}',
                    type: 'DELETE',
                    success: function() {
                      location.reload();
                    }
                  });
                });