extends layout

block content
  h2 Order Items (to #{orderType})
  p
    .btn-group(data-toggle='buttons-radio')
      button.btn.btn-primary(type='button') Store 1
      button.btn.btn-primary(type='button') Store 2
      button.btn.btn-primary(type='button') Store 3
      button.btn.btn-primary(type='button') Store 4

  table.table.table-striped.table-bordered
    thead
        tr
          th #
          th Name
          th Quantity
      tbody
        each item, i in items
          tr
            td.span1= i+1
            td= item.name
            td.span1
              input.quantity(type='text', value=0, data-name='#{item.name}')

  button.btn.btn-large.btn-success(id='place-order')
    i.icon-shopping-cart.icon-white
    |  Place Order

  script
    $('#place-order').click(function() {
      var items = [];
      var $quantityFields = $('.quantity');

      $.each($quantityFields, function(index, field) {
        items.push({
          name: $(field).data('name'),
          quantity: $(field).val()
        });
      });

      var postData = {
        orderType: '#{orderType}',
        items: items,
        location: $('button.active').text()
      };

      $.post('/orders', postData, function() {
        console.log('SUCCESSFULLY CREATED NEW ORDER');
      });
    });