extends layout

block content
  .lead.text-center
    if orderType == 'create'
      .text-primary
        i.fa.fa-cutlery
        |  Create
    else
      .text-success
        i.fa.fa-usd
        |  Sell

  h4 Coffeed Store
  for store in stores
    .radio
      label
        input(type='radio', name='storeRadios', value='#{store}')
        = store

  table.table.table-striped.table-bordered
    thead
        tr
          th #
          th Name
          th Quantity
      tbody
        each item, i in items
          tr
            td.span1= i+1
            td= item.name
            td.span1
              input.quantity(type='text', value=0, data-name='#{item.name}')
  button.btn.btn-large.btn-success(data-order-type='#{orderType}')
    i.icon-shopping-cart.icon-white
    |  Place Order